# Use the latest 2.1 version of CircleCI pipeline process engine. See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1

executors:
  python_docker:
    parameters:
      python_docker_tag:
        type: string
    docker:
      #- image: cimg/python:<< parameters.python_docker_tag >>
      - image: akdor1154/cimg-ankitunes
  publisher:
    docker:
      - image: cimg/python:3.9

jobs:
  test:
    parameters:
      python_docker_tag:
        type: string
    executor:
      name: python_docker
      python_docker_tag: << parameters.python_docker_tag >>
    steps:

      - checkout

      - restore_cache:
          keys:
            - >
              v1
              python_artifacts
              << parameters.python_docker_tag >>
              {{ checksum "pyproject.toml" }}
              {{ checksum "poetry.lock" }}


      - run:
          name: Install test dependencies
          command: make deps

      - save_cache:
          key: >
              v1
              python_artifacts
              << parameters.python_docker_tag >>
              {{ checksum "pyproject.toml" }}
              {{ checksum "poetry.lock" }}
          paths:
            - .venv

      - run:
          name: mypy
          command: poetry run mypy ankitunes

      - run:
          name: Make
          command: make

      - run:
          name: pytest
          command: env QT_DEBUG_PLUGINS=1 poetry run pytest -sv tests

  register:
    executor:
      name: publisher
    steps:
      - run:
          name: Install poetry
          command: |
            python -m pip install --upgrade poetry
            poetry config virtualenvs.in-project true

      - checkout

      - run:
          name: register
          command: .circleci/publish.sh

workflows:
  testAndRegister:
    jobs:
      - test:
          matrix:
            parameters:
              #python_docker_tag: ["3.8", "3.9"]
              python_docker_tag: ["3.8"]
          filters:
            tags:
              only: /^v\d+\.\d+\.\d+.*$/
      - register:
          requires:
            - test
          context: Ankitunes
          filters:
            tags:
              only: /^v\d+\.\d+\.\d+.*$/
            branches:
              ignore: /.*/
